main {
  background-position: center;
  background-size: 90%;
}

.card-container {
  display: flex;
  height: 80vh;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-y: scroll;
  gap: 3px;
}
